.nav-bar {
    background-color: #b90f0f;
}

.content-div {
    flex: 1;
    margin-bottom: 0.2%;
    margin-top: 0.2%;
    padding: 1%;
    border: #d3d3d3fa 2px solid;
    border-radius: 10px;
}

.product-img{
    border: #d3d3d3fa 2px solid;
}

td {
    text-align:center !important;
    vertical-align: middle;
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}
th {
    text-align: center !important;
}

.sticky-bottom {
    border-top: solid #d3d3d3fa 1px;
    background-color: white;

    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    /* margin-top: auto; Pushes the sticky-bottom div to the bottom */
}

.sticky-bottom {
    width: 100%;
    margin-top: auto; /* Pushes the sticky-bottom div to the bottom */
    background-color: #fff; /* Optional: Set a background color */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}

.sticky-top {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
}

.test{
    border-bottom: #b90f0f 1px solid;
}

  
.outline-div {
    text-align: center;
    border: 1px solid #d3d3d3fa;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 10px;
}
.no-outline-div {
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 10px;
}

.bottom-outline-div{
    border-bottom: 1px solid #d3d3d3fa;
    margin-bottom: 0.5%;
}